{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="{% url 'index' %}">Повернутись на головну сторінку</a>
    <br>
    <h3>Список студентів:</h3>
    <ul>
        {% for student in students %}
        <li>Студент: {{ student.first_name }} {{ student.last_name }},
            дата народження: {{ student.birth_date|date:"d.m.Y" }}, 
            {% if student.phone %}
                номер телефону: {{ student.phone }}
            {% else %}
                номер телефону не вказаний
            {% endif %}
            {% if student.groups.all.count > 0 %}
                <p>Студент належить до таких груп:</p>
                <ul>
                    {% for group in student.groups.all %}
                        <li>{{ group }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                <li>Студент не належить до жодної групи</li>
            {% endif %}
            <a href="{% url 'student_edit' pk=student.id %}">
                <button>Редагувати</button>
            </a>
            <a href="{% url 'student_delete' pk=student.id %}">
                <button>Видалити</button>
            </a>
        </li>
        {% endfor %}
    </ul>
</body>

</html>
