<!DOCTYPE html>
<html>
<body>
<p>Для додавання викладача у базу даних - введіть дані у форму нижче:</p>
<form action="" method="post">
    <label for="first_name">Ім'я: </label>
    <input id="first_name" type="text" name="first_name">
    <input type="submit" value="Ok">
</br>
    <label for="patronymic">По батькові: </label>
    <input id="patronymic" type="text" name="patronymic">
    <input type="submit" value="Ok">
</br>
    <label for="last_name">Прізвище: </label>
    <input id="last_name" type="text" name="last_name">
    <input type="submit" value="Ok">
</br>
    <label for="birth_date">Дата народження: </label>
    <input id="birth_date" type="text" name="birth_date">
    <input type="submit" value="Ok">
</br>
    <label for="subject">Предмет викладання: </label>
    <input id="subject" type="text" name="subject">
    <input type="submit" value="Ok">
</form>
</body>
</html>
