<!DOCTYPE html>
<html>
<body>
<a href="{% url 'index' %}">Повернутись на головну сторінку</a>
</br>
<h3>Список викладачів:</h3>
<ul>
    {% for teacher in teachers %}
      <li>Викладач: {{ teacher.first_name }} {{ teacher.patronymic }} {{ teacher.last_name }}, 
        дата народження: {{ teacher.birth_date|date:"d.m.Y" }}, викладає предмет: {{ teacher.subject }}
        <a href="{% url 'teacher_edit' pk=teacher.id %}">
            <button>Редагувати</button>
        </a>
      </li>
    {% endfor %}
</ul>
</body>
</html>